/* style.css */
body {
    margin: 10;
    display: flex;               /* 中身を整列させるモード */
    justify-content: left;    /* 左右中央 */
    align-items: center;        /* 上下中央 */
    min-height: 100vh;          /* 画面の高さ100%分 */
    background-color: #000000;     /* 背景を暗くするとキャンバスが目立つ */
  }